# Entornos virtuales
venv/
.venv/
env/
.env/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Jupyter (por si acaso abriste el notebook y generó puntos de control)
.ipynb_checkpoints/
